<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbars %>
  
    <h1>My Web App</h1>
    <input type="text" class="search" placeholder="Enter thy city:">
    <button type="button" onClick="searchWeather()">Seek</button>

    <div class="error-message">
      
    </div>
    <div class="city">

    </div>
    <div class="temp">
      
    </div>
  </div>
 <button onClick="handleSignIn()">
Login
  
 </button>
 <form onSubmit="handleMessageFormSubmit()" action="#">
   Title:<br/>
   <input id="post-title"><br/>
   Body:<br/>
   <textarea id="post-body"></textarea><br/>
   <button>Submit</button><br/>
 </form>
  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>

</html>